<!DOCTYPE html>
<html>
<head>
	<title>edit Profile</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
	
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
	<h3>edit</h3>
	<form action="/edit/{{edit_a.id}}" method="POST">
		<label>name</label>
		<input type="text" name="name" value="{{edit_a.name}}">
		<label>e-mail</label>
		<input type="text" name= "email" value="{{edit_a.email}}">
		<label>ph_number</label>
		<input type="number" name="ph_number" value="{{edit_a.ph_number}}">
		<button type="submit">submit</button>
	</form>
</body>
</html>
