<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<style>
		table {
			border-collapse: collapse;
		}
		th {
			background-color:green;
			Color:white;
		}
		th, td {
			width:150px;
			text-align:center;
			border:1px solid black;
			padding:5px
		  
		}
	</style>
</head>
<body>
	<h3>Contact</h3>

	<!--search and add buttons -->
	<a href="/add_data">ADD</a>
	<form action="/search" method="POST">
		<!--search fields-->
		<input type="text" name="s_name" placeholder="enter name">
		<input type="text" name= "s_email" placeholder="enter email...">
		<button type="submit">search</button>

	<br>

	<!--table-->
	<table>
		<thead>
			<th>Name</th>
			<th>email</th>
			<th>ph_number</th>
			<th>#</th>
			<th>#</th>
		</thead>
		{% for data in profiles %}
		<tbody>
			<td>{{data.name}}</td>
			<td>{{data.email}}</td>
			<td>{{data.ph_number}}</td>
			<td><a href="/delete/{{data.id}}" type="button">Delete</a></td>
			<td><a href="/{{data.id}}" type="button">edit</a></td>
		</tbody>
		{% endfor%}
	</table>
</body>
</html>
