<!DOCTYPE html>
<html>
<head>
	<title>contact_search</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
	
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
    <label>name</label>
		<input type="text" name="name" value="{{search_a.name}}" >
		<label>e-mail</label>
		<input type="text" name= "email" value="{{search_a.email}}"  >
		<label>ph_number</label>
		<input type="number" name="ph_number" value="{{search_a.ph_number}}" >
        
	
</body>
</html>
