<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Tables</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	
	<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
	
	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
	</script>
	
	<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
	</script>
</head>

<body>
	<div class="container">
	
		<h1 style="text-align:center;color:green;">
			contacts
		</h1>
	
		<!-- Bootstrap table class -->
		<table class="table">
			<thead>
				<tr>
					<th scope="col">S. No.</td>
					<th scope="col">Name</td>
					<th scope="col">ph_number</td>
					<th scope="col">email</td>
                    <th>#</th>
                    <th>#</th>

				</tr>
			</thead>
			
            {% for data in profiles %}
            <tbody>
                <td>{{data.id}}</td>
                <td>{{data.first_name}}</td>
                <td>{{data.ph_number}}</td>
                <td>{{data.email}}</td>
                <td><a href="/delete/{{data.id}}" type="button">Delete</a></td>
                <td><a href="/edit/{{edit.id}}" type="button">edit</a></td>

            </tbody>
            {% endfor%}
		</table>
	</div>
</body>

</html>
